
.natureElement {

    border-radius: 8px;
    background-color: #bd8c7d;
    color: white;
    margin: 2px;
}

#add-gif{
border-radius: 8px;
background-color: #49494b;
color: white;
}


.gif{
margin: 10px;
float: left;
}

#buttons-view{
    margin: 10px;
}